name: Release

on:
  push:
    branches:
      - master
      - alpha
      - beta
      - next
      - 'feature/*'
    tags:
      - '*'  # Trigger on all tag pushes
      
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment to deploy (e.g., dev, staging, prod)'
        required: true
        default: 'dev'

permissions:
  contents: read  # Required for checkout

jobs:
  # Linting Jobs
  terraform-format-check:
    name: Terraform Format Check
    if: |
      !(
        github.event_name == 'workflow_dispatch' &&
        startsWith(github.ref, 'refs/tags/')
      )
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set Up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.14.0
      - name: Check Terraform Formatting
        run: terraform fmt -check -recursive
        
  ruff-check:
    name: Python Lint & Format Check (Ruff)
    if: |
      !(
        github.event_name == 'workflow_dispatch' &&
        startsWith(github.ref, 'refs/tags/')
      )
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Ruff
        run: pip install ruff

      - name: Ruff Lint
        run: ruff check .

      - name: Ruff Format Check
        run: ruff format --check .




  # Release Job
  release:
    name: Release
    runs-on: ubuntu-latest
    if: >
      (github.event_name == 'push' &&
       !contains(github.event.head_commit.message, '[skip ci]')) ||
      (github.event_name == 'workflow_dispatch')
    permissions:
      contents: write  # To push tags
      issues: write
      pull-requests: write
      id-token: write
    outputs:
      git_short_sha: ${{ steps.capture_tag.outputs.git_short_sha }}
      release_tag: ${{ steps.capture_tag.outputs.release_tag }}
      image_tag: ${{ steps.capture_tag.outputs.image_tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Semantic Release and Plugins
        run: |
          npm install -g semantic-release@21.0.2 @semantic-release/gitlab @semantic-release/exec @semantic-release/changelog @semantic-release/release-notes-generator @semantic-release/commit-analyzer @semantic-release/git semantic-release-helm3

      - name: Fetch all tags
        run: git fetch --tags

      - name: Run Semantic Release
        id: semantic_release
        run: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      - name: Capture New Tag and Set Image Tag
        id: capture_tag
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            RELEASE_TAG=${GITHUB_REF#refs/tags/}
            IMAGE_TAG=${RELEASE_TAG}
          else
            RELEASE_TAG=$(git describe --tags $(git rev-list --tags --max-count=1))
            GIT_SHORT_SHA=$(git rev-parse --short HEAD)
            IMAGE_TAG=latest-${GIT_SHORT_SHA}
          fi
          echo "RELEASE_TAG=${RELEASE_TAG}" >> $GITHUB_ENV
          echo "GIT_SHORT_SHA=${GIT_SHORT_SHA:-}" >> $GITHUB_ENV
          echo "release_tag=${RELEASE_TAG}" >> $GITHUB_OUTPUT
          echo "git_short_sha=${GIT_SHORT_SHA:-}" >> $GITHUB_OUTPUT
          echo "image_tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT

